<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# Project | Visualizing "real world" data

## Import Useful Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.offline as py
import cufflinks as cf
from ipywidgets import interact
import plotly.graph_objs as go
cf.go_offline()

## Pikalytics dataset

In [2]:
pikalytics = pd.read_csv("data/pikalyticsDF_clean.csv")

In [3]:
pikalytics.shape

(224, 9)

In [4]:
pikalytics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 224 non-null    int64
 1   name                       224 non-null    object
 2   types                      222 non-null    object
 3   percent                    222 non-null    float64
 4   ranking                    222 non-null    float64
 5   viability                  224 non-null    object
 6   Most common teammates      224 non-null    object
 7   2nd most common teammates  224 non-null    object
 8   3rd most common teammates  224 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 15.9+ KB

In [5]:
pikalytics.head()

,Unnamed: 0,name,types,percent,ranking,viability,Most common teammates,2nd most common teammates,3rd most common teammates
0,0,Togekiss,"['fairy', 'flying']",46.0,1.0,B,"Excadrill 38.536% ['ground', 'steel']",Arcanine 35.593% ['fire'],"Dragapult 33.117% ['dragon', 'ghost']"
1,1,Arcanine,['fire'],36.0,2.0,B,"Togekiss 45.687% ['fairy', 'flying']","Dragapult 30.663% ['dragon', 'ghost']","Tyranitar 28.847% ['rock', 'dark']"
2,2,Dragapult,"['dragon', 'ghost']",31.0,3.0,B,"Togekiss 48.228% ['fairy', 'flying']","Excadrill 38.133% ['ground', 'steel']",Arcanine 34.788% ['fire']
3,3,Excadrill,"['ground', 'steel']",30.0,4.0,B,"Togekiss 59.572% ['fairy', 'flying']","Tyranitar 47.122% ['rock', 'dark']","Dragapult 40.479% ['dragon', 'ghost']"
4,4,Whimsicott,"['grass', 'fairy']",29.0,5.0,B-,"Duraludon 36.074% ['steel', 'dragon']","Togekiss 32.431% ['fairy', 'flying']",Arcanine 25.983% ['fire']

In [6]:
pikalytics.tail()

,Unnamed: 0,name,types,percent,ranking,viability,Most common teammates,2nd most common teammates,3rd most common teammates
219,219,Solrock,"['rock', 'psychic']",0.0,220.0,C,Torkoal 75.838% ['fire'],"Obstagoon 68.307% ['dark', 'normal']","Dracozolt 68.292% ['electric', 'dragon']"
220,220,Cottonee,"['grass', 'fairy']",0.0,221.0,C,"Excadrill 68.691% ['ground', 'steel']",Vanilluxe 51.546% ['ice'],"Togekiss 51.127% ['fairy', 'flying']"
221,221,Throh,['fighting'],0.0,222.0,C+,"Gyarados 59.921% ['water', 'flying']",Arcanine 59.832% ['fire'],"Whimsicott 59.695% ['grass', 'fairy']"
222,222,Shellos,['water'],0.0,223.0,C-,"Indeedee-F 95.882% ['psychic', 'normal']","Rhyperior 95.882% ['ground', 'rock']","Hatterene 86.486% ['psychic', 'fairy']"
223,223,Wobbuffet,['psychic'],0.0,224.0,D+,"Lapras 66.298% ['water', 'ice']",Gothitelle 51.576% ['psychic'],"Gengar 44.001% ['ghost', 'poison']"

In [7]:
pikalytics.describe()

       Unnamed: 0     percent     ranking
count  224.000000  222.000000  222.000000
mean   111.500000    2.653153  112.590090
std     64.807407    6.397218   65.057778
min      0.000000    0.000000    1.000000
25%     55.750000    0.000000   56.250000
50%    111.500000    0.000000  112.500000
75%    167.250000    1.000000  168.750000
max    223.000000   46.000000  224.000000

### Pikalytics dataset EDA

### Pikalytics dataset visualization

## Wikidex dataset

In [8]:
wikidex = pd.read_csv("data/wikidexDF_clean.csv")

In [9]:
wikidex.shape

(1021, 12)

In [10]:
wikidex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021 entries, 0 to 1020
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1021 non-null   int64
 1   National Dex #   1021 non-null   int64
 2   Pokémon          1021 non-null   object
 3   HP               1021 non-null   int64
 4   Attack           1021 non-null   object
 5   Defense          1021 non-null   object
 6   Special Attack   1021 non-null   object
 7   Special Defense  1021 non-null   object
 8   Speed            1021 non-null   int64
 9   Mean             1021 non-null   object
 10  SD               1021 non-null   object
 11  Total            1021 non-null   int64
dtypes: int64(5), object(7)
memory usage: 95.8+ KB

In [11]:
wikidex.head()

,Unnamed: 0,National Dex #,Pokémon,HP,Attack,Defense,Special Attack,Special Defense,Speed,Mean,SD,Total
0,0,1,Bulbasaur,45,49,49,65,65,45,"53,00","8,64",318
1,1,2,Ivysaur,60,62,63,80,80,60,"67,50","8,90",405
2,2,3,Venusaur,80,82,83,100,100,80,"87,50","8,90",525
3,3,3,Mega-Venusaur,80,100,123,122,120,80,"104,17","18,75",625
4,4,4,Charmander,39,52,43,60,50,65,"51,50","9,00",309

In [12]:
wikidex.tail()

,Unnamed: 0,National Dex #,Pokémon,HP,Attack,Defense,Special Attack,Special Defense,Speed,Mean,SD,Total
1016,1016,888,Zacian espada suprema,92,170,115,80,115,148,120,"30,87",720
1017,1017,889,Zamazenta,92,130,115,80,115,138,"111,67","20,17",670
1018,1018,889,Zamazenta escudo supremo,92,130,145,80,145,128,120,"25,16",720
1019,1019,890,Eternatus,140,85,95,145,95,130,"115,00","23,98",690
1020,1020,890,Eternatus Dinamax infinito,255,115,250,125,250,130,"187,50","64,34",1125

In [13]:
wikidex = wikidex.astype({"HP": "float64", "Speed": "float64"})
wikidex["Attack"] = wikidex["Attack"].replace(",",".").replace(" ","").replace("140 35","140").astype(float)
wikidex["Defense"] = wikidex["Defense"].replace(",",".").replace(" ","").replace("140 35","140").astype(float)
wikidex["Special Attack"] = wikidex["Special Attack"].replace(",",".").replace(" ","").replace("140 35","140").astype(float)
wikidex["Special Defense"] = wikidex["Special Defense"].replace(",",".").replace(" ","").replace("140 35","140").astype(float)
wikidex["Mean"] = wikidex["Mean"].str.replace(",",".").replace(" ","").replace("140 35","140").astype(float)
wikidex["SD"] = wikidex["SD"].str.replace(",",".").replace(" ","").replace("140 35","140").astype(float)

In [14]:
wikidex.describe()

,Unnamed: 0,National Dex #,HP,Attack,Defense,Special Attack,Special Defense,Speed,Mean,SD,Total
count,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000,1021.000000
mean,510.000000,436.158668,123.076396,183.933399,134.426053,134.076396,160.030362,111.986288,72.910921,19.973604,437.466210
std,294.881615,259.476861,650.477556,1022.278339,660.663352,709.405781,824.611063,691.463788,20.324668,10.845277,121.947586
min,0.000000,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,29.170000,0.000000,175.000000
25%,255.000000,212.000000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000,55.000000,12.730000,330.000000
50%,510.000000,432.000000,67.000000,76.000000,70.000000,65.000000,70.000000,65.000000,75.830000,18.450000,455.000000
75%,765.000000,662.000000,80.000000,100.000000,94.000000,95.000000,90.000000,90.000000,85.000000,24.790000,510.000000
max,1020.000000,890.000000,9026.000000,13033.000000,8521.000000,10024.000000,10512.000000,15017.000000,187.500000,103.220000,1125.000000

### Wikidex dataset EDA

### Wikidex dataset visualization

## Combined dataset

In [15]:
combined = pd.read_csv("data/Combined_DF_clean.csv")

In [16]:
combined.shape

(197, 18)

In [17]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  197 non-null    int64
 1   National Dex #              197 non-null    int64
 2   Pokémon                     197 non-null    object
 3   Type                        197 non-null    object
 4   Base HP                     197 non-null    float64
 5   Base Attack                 197 non-null    float64
 6   Base Defense                197 non-null    float64
 7   Base Special Attack         197 non-null    float64
 8   Base Special Defense        197 non-null    float64
 9   Base Speed                  197 non-null    float64
 10  Base Stats Mean             197 non-null    float64
 11  Base Stats SD               197 non-null    float64
 12  VGC 2020 Usage Rank         196 non-null    float64
 13  VGC 2020 Usage %            196 non-null    float64
 14  Competitive viability       197 non-null    object
 15  Most frequent teammate      197 non-null    object
 16  2nd most frequent teammate  197 non-null    object
 17  3rd most frequent teammate  197 non-null    object
dtypes: float64(10), int64(2), object(6)
memory usage: 27.8+ KB

In [18]:
combined.head()

,Unnamed: 0,National Dex #,Pokémon,Type,Base HP,Base Attack,Base Defense,Base Special Attack,Base Special Defense,Base Speed,Base Stats Mean,Base Stats SD,VGC 2020 Usage Rank,VGC 2020 Usage %,Competitive viability,Most frequent teammate,2nd most frequent teammate,3rd most frequent teammate
0,0,468,Togekiss,"['fairy', 'flying']",85.0,50.0,95.0,120.0,115.0,80.0,90.83,23.35,1.0,46.0,B,"Excadrill 38.536% ['ground', 'steel']",Arcanine 35.593% ['fire'],"Dragapult 33.117% ['dragon', 'ghost']"
1,1,59,Arcanine,['fire'],90.0,110.0,80.0,100.0,80.0,95.0,92.50,10.70,2.0,36.0,B,"Togekiss 45.687% ['fairy', 'flying']","Dragapult 30.663% ['dragon', 'ghost']","Tyranitar 28.847% ['rock', 'dark']"
2,2,887,Dragapult,"['dragon', 'ghost']",88.0,120.0,75.0,100.0,75.0,142.0,100.00,24.35,3.0,31.0,B,"Togekiss 48.228% ['fairy', 'flying']","Excadrill 38.133% ['ground', 'steel']",Arcanine 34.788% ['fire']
3,3,530,Excadrill,"['ground', 'steel']",110.0,135.0,60.0,50.0,65.0,88.0,84.67,29.95,4.0,30.0,B,"Togekiss 59.572% ['fairy', 'flying']","Tyranitar 47.122% ['rock', 'dark']","Dragapult 40.479% ['dragon', 'ghost']"
4,4,547,Whimsicott,"['grass', 'fairy']",60.0,67.0,85.0,77.0,75.0,116.0,80.00,17.91,5.0,29.0,B-,"Duraludon 36.074% ['steel', 'dragon']","Togekiss 32.431% ['fairy', 'flying']",Arcanine 25.983% ['fire']

In [19]:
combined.tail()

,Unnamed: 0,National Dex #,Pokémon,Type,Base HP,Base Attack,Base Defense,Base Special Attack,Base Special Defense,Base Speed,Base Stats Mean,Base Stats SD,VGC 2020 Usage Rank,VGC 2020 Usage %,Competitive viability,Most frequent teammate,2nd most frequent teammate,3rd most frequent teammate
192,192,338,Solrock,"['rock', 'psychic']",9026.0,95.0,85.0,55.0,65.0,70.0,76.67,14.34,220.0,0.0,C,Torkoal 75.838% ['fire'],"Obstagoon 68.307% ['dark', 'normal']","Dracozolt 68.292% ['electric', 'dragon']"
193,193,546,Cottonee,"['grass', 'fairy']",40.0,27.0,60.0,37.0,50.0,66.0,46.67,13.46,221.0,0.0,C,"Excadrill 68.691% ['ground', 'steel']",Vanilluxe 51.546% ['ice'],"Togekiss 51.127% ['fairy', 'flying']"
194,194,538,Throh,['fighting'],120.0,100.0,85.0,30.0,85.0,45.0,77.50,30.92,222.0,0.0,C+,"Gyarados 59.921% ['water', 'flying']",Arcanine 59.832% ['fire'],"Whimsicott 59.695% ['grass', 'fairy']"
195,195,422,Shellos,['water'],76.0,48.0,48.0,57.0,62.0,34.0,54.17,13.09,223.0,0.0,C-,"Indeedee-F 95.882% ['psychic', 'normal']","Rhyperior 95.882% ['ground', 'rock']","Hatterene 86.486% ['psychic', 'fairy']"
196,196,202,Wobbuffet,['psychic'],190.0,33.0,58.0,33.0,58.0,33.0,67.50,55.91,224.0,0.0,D+,"Lapras 66.298% ['water', 'ice']",Gothitelle 51.576% ['psychic'],"Gengar 44.001% ['ghost', 'poison']"

In [20]:
combined.describe()

,Unnamed: 0,National Dex #,Base HP,Base Attack,Base Defense,Base Special Attack,Base Special Defense,Base Speed,Base Stats Mean,Base Stats SD,VGC 2020 Usage Rank,VGC 2020 Usage %
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,196.000000,196.000000
mean,98.000000,533.228426,165.497462,361.949239,124.705584,95.796954,125.751269,73.477157,79.980508,23.774416,110.280612,2.770408
std,57.013156,265.824255,874.418253,1720.418443,464.130210,130.849810,567.380567,79.507577,9.723294,11.239695,64.201508,6.686637
min,0.000000,6.000000,1.000000,10.000000,40.000000,10.000000,20.000000,5.000000,39.330000,0.000000,1.000000,0.000000
25%,49.000000,321.000000,60.000000,65.000000,65.000000,57.000000,67.000000,45.000000,77.500000,16.580000,55.750000,0.000000
50%,98.000000,573.000000,72.000000,90.000000,80.000000,79.000000,80.000000,70.000000,81.670000,23.210000,109.500000,0.000000
75%,147.000000,771.000000,90.000000,110.000000,100.000000,95.000000,95.000000,88.000000,85.000000,28.720000,163.250000,1.000000
max,196.000000,887.000000,9026.000000,13033.000000,6527.000000,1106.000000,8030.000000,1106.000000,100.000000,103.220000,224.000000,46.000000

### Combined dataset EDA

### Combined dataset visualization

## Outliers dataset

In [21]:
outliers = pd.read_csv("data/outliers_clean.csv")

In [22]:
outliers.shape

(18, 13)

In [23]:
outliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            18 non-null     int64
 1   Outlier               18 non-null     object
 2   Pokémon               18 non-null     object
 3   Type                  18 non-null     object
 4   Base Attack           18 non-null     float64
 5   Base Defense          18 non-null     float64
 6   Base HP               18 non-null     float64
 7   Base Special Attack   18 non-null     float64
 8   Base Special Defense  18 non-null     float64
 9   Base Speed            18 non-null     float64
 10  Base Stats Mean       18 non-null     float64
 11  Base Stats SD         18 non-null     float64
 12  VGC 2020 Usage %      18 non-null     float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.0+ KB

In [24]:
outliers.head()

,Unnamed: 0,Outlier,Pokémon,Type,Base Attack,Base Defense,Base HP,Base Special Attack,Base Special Defense,Base Speed,Base Stats Mean,Base Stats SD,VGC 2020 Usage %
0,175,Base HP,Shedinja,"['bug', 'ghost']",90.0,45.0,1.0,30.0,30.0,40.0,39.33,26.59,0.0
1,101,Base Special Defense,Stonjourner,['rock'],125.0,135.0,100.0,20.0,20.0,70.0,78.33,46.07,0.0
2,33,Base Stats Mean,Butterfree,"['bug', 'flying']",45.0,50.0,60.0,901.0,80.0,70.0,65.83,15.92,5.0
3,45,Base Stats Mean,Sableye,"['dark', 'ghost']",75.0,75.0,50.0,65.0,65.0,50.0,63.33,10.27,2.0
4,52,Base Stats Mean,Pikachu,['electric'],55.0,404.0,35.0,50.0,505.0,90.0,53.33,17.72,1.0

In [25]:
outliers.tail()

,Unnamed: 0,Outlier,Pokémon,Type,Base Attack,Base Defense,Base HP,Base Special Attack,Base Special Defense,Base Speed,Base Stats Mean,Base Stats SD,VGC 2020 Usage %
13,186,Base Stats Mean,Mime Jr.,"['psychic', 'fairy']",25.0,45.0,20.0,70.0,90.0,60.0,51.67,24.61,0.0
14,187,Base Stats Mean,Morelull,"['grass', 'fairy']",35.0,55.0,40.0,65.0,75.0,15.0,47.50,19.95,0.0
15,189,Base Stats Mean,Mawile,"['steel', 'fairy']",85.0,85.0,50.0,55.0,55.0,50.0,63.33,15.46,0.0
16,193,Base Stats Mean,Cottonee,"['grass', 'fairy']",27.0,60.0,40.0,37.0,50.0,66.0,46.67,13.46,0.0
17,195,Base Stats Mean,Shellos,['water'],48.0,48.0,76.0,57.0,62.0,34.0,54.17,13.09,0.0

In [26]:
outliers.describe()

,Unnamed: 0,Base Attack,Base Defense,Base HP,Base Special Attack,Base Special Defense,Base Speed,Base Stats Mean,Base Stats SD,VGC 2020 Usage %
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,146.666667,59.055556,80.444444,47.000000,99.888889,83.888889,51.555556,55.211667,17.530556,0.444444
std,53.007214,26.077875,83.927295,24.217155,200.675005,107.203978,18.585960,10.161777,9.628509,1.247219
min,33.000000,25.000000,40.000000,1.000000,20.000000,20.000000,15.000000,39.330000,0.000000,0.000000
25%,135.500000,45.000000,45.750000,40.000000,39.750000,45.750000,40.000000,47.625000,12.895000,0.000000
50%,167.500000,51.500000,52.500000,49.000000,56.000000,63.500000,50.000000,54.000000,14.715000,0.000000
75%,184.000000,73.750000,73.750000,60.000000,65.000000,78.750000,64.500000,63.330000,21.532500,0.000000
max,195.000000,125.000000,404.000000,100.000000,901.000000,505.000000,90.000000,78.330000,46.070000,5.000000

### Outliers dataset EDA

### Outliers dataset visualization